 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-dark:#0e383b;
    --primary-green:#51c778;
    --primary--color:#29696b; 
}

body{
    background-color:var(--primary-dark);
    color:var(--primary-green);
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align:center;
}

.container{
    width:50%;
    margin:auto;
}
input,label{
    display:block;
}
input{
    margin-bottom:0.5rem;
    width:100%;
}
#check-number{
    display:block;
    margin-top:1rem;
    margin:auto;
    background:transparent;
    color:var(--primary-green);
    border-color:var(--primary-green);
    border-width:medium;
    padding:0.5rem;
    border-radius:0.3rem;
}


/* footer  */
.link{
    text-decoration: none;
    padding:0.5 1rem;
}
/**lists**/
.list-non-bullet{
    list-style:none;
} 

.list-item-inline{
display:inline;
padding:0rem 0.5rem;
}
.footer{
    background-color: var(--primary--color);
    padding:2rem 1rem;
    text-align: center;
    color:black;
    
    position:fixed;
    bottom:0;
    width:100%;
}

.footer .link{
    color:black;
   
}

.footer .footer-header{
    font-weight: bold;
    font-size:large;
}

.footer ul{
    padding-inline-start: 0;
 }




